# №1. Every new object to list

In [8]:
class Square:
    squares = []
    
    def __init__ (self, a):
        self.a = a
        self.squares.append(a)

first = Square (10)
second = Square (3)
third = Square (48)

print(Square.squares)

[10, 3, 48]

# №2. Attributes when objects creating

In [14]:
class Square:
    
    def __init__ (self, a):
        self.a = a
        print((str(a) + " на ") * 3 + str(a))

first = Square (10)
second = Square (3)
third = Square (48)

10 на 10 на 10 на 10
3 на 3 на 3 на 3
48 на 48 на 48 на 48

# №3. Function using IS keyword

In [15]:
def sravnenie (object1, object2):
    return object1 is object2

text = "description"
number = 1516
text2 = "description"

print(sravnenie(text, number))
print(sravnenie(text, text2))

False
True